#title {
    background-color: rgb(12, 182, 225);
    padding: 1px;
}


h1 {
    color: aliceblue;
}



img {
    width: 91rem;
    height: 25rem ;
}


.navbar ul {
    list-style: none;
    background-color: grey;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color:white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar li:hover{
    background-color: aqua;
}

.navbar li {
    float: left;
}

#lgin {
    float: right;
}

#sgnup {
    float: right;
}


